:root {
  --color-red-50: rgba(255, 235, 238, 1);
  --color-red-100: rgba(255, 205, 210, 1);
  --color-red-200: rgba(239, 154, 154, 1);
  --color-red-300: rgba(229, 115, 115, 1);
  --color-red-400: rgba(239, 83, 80, 1);
  --color-red-500: rgba(244, 67, 54, 1);
  --color-red-600: rgba(229, 57, 53, 1);
  --color-red-700: rgba(211, 47, 47, 1);
  --color-red-800: rgba(198, 40, 40, 1);
  --color-red-900: rgba(183, 28, 28, 1);
  --color-red-a-100: rgba(255, 138, 128, 1);
  --color-red-a-200: rgba(255, 82, 82, 1);
  --color-red-a-400: rgba(255, 23, 68, 1);
  --color-red-a-700: rgba(213, 0, 0, 1);
  --color-pink-50: rgba(252, 228, 236, 1);
  --color-pink-100: rgba(248, 187, 208, 1);
  --color-pink-200: rgba(244, 143, 177, 1);
  --color-pink-300: rgba(240, 98, 146, 1);
  --color-pink-400: rgba(236, 64, 122, 1);
  --color-pink-500: rgba(233, 30, 99, 1);
  --color-pink-600: rgba(216, 27, 96, 1);
  --color-pink-700: rgba(194, 24, 91, 1);
  --color-pink-800: rgba(173, 20, 87, 1);
  --color-pink-900: rgba(136, 14, 79, 1);
  --color-pink-a-100: rgba(255, 128, 171, 1);
  --color-pink-a-200: rgba(255, 64, 129, 1);
  --color-pink-a-400: rgba(245, 0, 87, 1);
  --color-pink-a-700: rgba(197, 17, 98, 1);
  --color-purple-50: rgba(243, 229, 245, 1);
  --color-purple-100: rgba(225, 190, 231, 1);
  --color-purple-200: rgba(206, 147, 216, 1);
  --color-purple-300: rgba(186, 104, 200, 1);
  --color-purple-400: rgba(171, 71, 188, 1);
  --color-purple-500: rgba(156, 39, 176, 1);
  --color-purple-600: rgba(142, 36, 170, 1);
  --color-purple-700: rgba(123, 31, 162, 1);
  --color-purple-800: rgba(106, 27, 154, 1);
  --color-purple-900: rgba(74, 20, 140, 1);
  --color-purple-a-100: rgba(234, 128, 252, 1);
  --color-purple-a-200: rgba(224, 64, 251, 1);
  --color-purple-a-400: rgba(213, 0, 249, 1);
  --color-purple-a-700: rgba(170, 0, 255, 1);
  --color-deep-purple-50: rgba(237, 231, 246, 1);
  --color-deep-purple-100: rgba(209, 196, 233, 1);
  --color-deep-purple-200: rgba(179, 157, 219, 1);
  --color-deep-purple-300: rgba(149, 117, 205, 1);
  --color-deep-purple-400: rgba(126, 87, 194, 1);
  --color-deep-purple-500: rgba(103, 58, 183, 1);
  --color-deep-purple-600: rgba(94, 53, 177, 1);
  --color-deep-purple-700: rgba(81, 45, 168, 1);
  --color-deep-purple-800: rgba(69, 39, 160, 1);
  --color-deep-purple-900: rgba(49, 27, 146, 1);
  --color-deep-purple-a-100: rgba(179, 136, 255, 1);
  --color-deep-purple-a-200: rgba(124, 77, 255, 1);
  --color-deep-purple-a-400: rgba(101, 31, 255, 1);
  --color-deep-purple-a-700: rgba(98, 0, 234, 1);
  --color-indigo-50: rgba(232, 234, 246, 1);
  --color-indigo-100: rgba(197, 202, 233, 1);
  --color-indigo-200: rgba(159, 168, 218, 1);
  --color-indigo-300: rgba(121, 134, 203, 1);
  --color-indigo-400: rgba(92, 107, 192, 1);
  --color-indigo-500: rgba(63, 81, 181, 1);
  --color-indigo-600: rgba(57, 73, 171, 1);
  --color-indigo-700: rgba(48, 63, 159, 1);
  --color-indigo-800: rgba(40, 53, 147, 1);
  --color-indigo-900: rgba(26, 35, 126, 1);
  --color-indigo-a-100: rgba(140, 158, 255, 1);
  --color-indigo-a-200: rgba(83, 109, 254, 1);
  --color-indigo-a-400: rgba(61, 90, 254, 1);
  --color-indigo-a-700: rgba(48, 79, 254, 1);
  --color-blue-50: rgba(227, 242, 253, 1);
  --color-blue-100: rgba(187, 222, 251, 1);
  --color-blue-200: rgba(144, 202, 249, 1);
  --color-blue-300: rgba(100, 181, 246, 1);
  --color-blue-400: rgba(66, 165, 245, 1);
  --color-blue-500: rgba(33, 150, 243, 1);
  --color-blue-600: rgba(30, 136, 229, 1);
  --color-blue-700: rgba(25, 118, 210, 1);
  --color-blue-800: rgba(21, 101, 192, 1);
  --color-blue-900: rgba(13, 71, 161, 1);
  --color-blue-a-100: rgba(130, 177, 255, 1);
  --color-blue-a-200: rgba(68, 138, 255, 1);
  --color-blue-a-400: rgba(41, 121, 255, 1);
  --color-blue-a-700: rgba(41, 98, 255, 1);
  --color-light-blue-50: rgba(225, 245, 254, 1);
  --color-light-blue-100: rgba(179, 229, 252, 1);
  --color-light-blue-200: rgba(129, 212, 250, 1);
  --color-light-blue-300: rgba(79, 195, 247, 1);
  --color-light-blue-400: rgba(41, 182, 246, 1);
  --color-light-blue-500: rgba(3, 169, 244, 1);
  --color-light-blue-600: rgba(3, 155, 229, 1);
  --color-light-blue-700: rgba(2, 136, 209, 1);
  --color-light-blue-800: rgba(2, 119, 189, 1);
  --color-light-blue-900: rgba(1, 87, 155, 1);
  --color-light-blue-a-100: rgba(128, 216, 255, 1);
  --color-light-blue-a-200: rgba(64, 196, 255, 1);
  --color-light-blue-a-400: rgba(0, 176, 255, 1);
  --color-light-blue-a-700: rgba(0, 145, 234, 1);
  --color-cyan-50: rgba(224, 247, 250, 1);
  --color-cyan-100: rgba(178, 235, 242, 1);
  --color-cyan-200: rgba(128, 222, 234, 1);
  --color-cyan-300: rgba(77, 208, 225, 1);
  --color-cyan-400: rgba(38, 198, 218, 1);
  --color-cyan-500: rgba(0, 188, 212, 1);
  --color-cyan-600: rgba(0, 172, 193, 1);
  --color-cyan-700: rgba(0, 151, 167, 1);
  --color-cyan-800: rgba(0, 131, 143, 1);
  --color-cyan-900: rgba(0, 96, 100, 1);
  --color-cyan-a-100: rgba(132, 255, 255, 1);
  --color-cyan-a-200: rgba(24, 255, 255, 1);
  --color-cyan-a-400: rgba(0, 229, 255, 1);
  --color-cyan-a-700: rgba(0, 184, 212, 1);
  --color-teal-50: rgba(224, 242, 241, 1);
  --color-teal-100: rgba(178, 223, 219, 1);
  --color-teal-200: rgba(128, 203, 196, 1);
  --color-teal-300: rgba(77, 182, 172, 1);
  --color-teal-400: rgba(38, 166, 154, 1);
  --color-teal-500: rgba(0, 150, 136, 1);
  --color-teal-600: rgba(0, 137, 123, 1);
  --color-teal-700: rgba(0, 121, 107, 1);
  --color-teal-800: rgba(0, 105, 92, 1);
  --color-teal-900: rgba(0, 77, 64, 1);
  --color-teal-a-100: rgba(167, 255, 235, 1);
  --color-teal-a-200: rgba(100, 255, 218, 1);
  --color-teal-a-400: rgba(29, 233, 182, 1);
  --color-teal-a-700: rgba(0, 191, 165, 1);
  --color-green-50: rgba(232, 245, 233, 1);
  --color-green-100: rgba(200, 230, 201, 1);
  --color-green-200: rgba(165, 214, 167, 1);
  --color-green-300: rgba(129, 199, 132, 1);
  --color-green-400: rgba(102, 187, 106, 1);
  --color-green-500: rgba(76, 175, 80, 1);
  --color-green-600: rgba(67, 160, 71, 1);
  --color-green-700: rgba(56, 142, 60, 1);
  --color-green-800: rgba(46, 125, 50, 1);
  --color-green-900: rgba(27, 94, 32, 1);
  --color-green-a-100: rgba(185, 246, 202, 1);
  --color-green-a-200: rgba(105, 240, 174, 1);
  --color-green-a-400: rgba(0, 230, 118, 1);
  --color-green-a-700: rgba(0, 200, 83, 1);
  --color-light-green-50: rgba(241, 248, 233, 1);
  --color-light-green-100: rgba(220, 237, 200, 1);
  --color-light-green-200: rgba(197, 225, 165, 1);
  --color-light-green-300: rgba(174, 213, 129, 1);
  --color-light-green-400: rgba(156, 204, 101, 1);
  --color-light-green-500: rgba(139, 195, 74, 1);
  --color-light-green-600: rgba(124, 179, 66, 1);
  --color-light-green-700: rgba(104, 159, 56, 1);
  --color-light-green-800: rgba(85, 139, 47, 1);
  --color-light-green-900: rgba(51, 105, 30, 1);
  --color-light-green-a-100: rgba(204, 255, 144, 1);
  --color-light-green-a-200: rgba(178, 255, 89, 1);
  --color-light-green-a-400: rgba(118, 255, 3, 1);
  --color-light-green-a-700: rgba(100, 221, 23, 1);
  --color-lime-50: rgba(249, 251, 231, 1);
  --color-lime-100: rgba(240, 244, 195, 1);
  --color-lime-200: rgba(230, 238, 156, 1);
  --color-lime-300: rgba(220, 231, 117, 1);
  --color-lime-400: rgba(212, 225, 87, 1);
  --color-lime-500: rgba(205, 220, 57, 1);
  --color-lime-600: rgba(192, 202, 51, 1);
  --color-lime-700: rgba(175, 180, 43, 1);
  --color-lime-800: rgba(158, 157, 36, 1);
  --color-lime-900: rgba(130, 119, 23, 1);
  --color-lime-a-100: rgba(244, 255, 129, 1);
  --color-lime-a-200: rgba(238, 255, 65, 1);
  --color-lime-a-400: rgba(198, 255, 0, 1);
  --color-lime-a-700: rgba(174, 234, 0, 1);
  --color-yellow-50: rgba(255, 253, 231, 1);
  --color-yellow-100: rgba(255, 249, 196, 1);
  --color-yellow-200: rgba(255, 245, 157, 1);
  --color-yellow-300: rgba(255, 241, 118, 1);
  --color-yellow-400: rgba(255, 238, 88, 1);
  --color-yellow-500: rgba(255, 235, 59, 1);
  --color-yellow-600: rgba(253, 216, 53, 1);
  --color-yellow-700: rgba(251, 192, 45, 1);
  --color-yellow-800: rgba(249, 168, 37, 1);
  --color-yellow-900: rgba(245, 127, 23, 1);
  --color-yellow-a-100: rgba(255, 255, 141, 1);
  --color-yellow-a-200: rgba(255, 255, 0, 1);
  --color-yellow-a-400: rgba(255, 234, 0, 1);
  --color-yellow-a-700: rgba(255, 214, 0, 1);
  --color-amber-50: rgba(255, 248, 225, 1);
  --color-amber-100: rgba(255, 236, 179, 1);
  --color-amber-200: rgba(255, 224, 130, 1);
  --color-amber-300: rgba(255, 213, 79, 1);
  --color-amber-400: rgba(255, 202, 40, 1);
  --color-amber-500: rgba(255, 193, 7, 1);
  --color-amber-600: rgba(255, 179, 0, 1);
  --color-amber-700: rgba(255, 160, 0, 1);
  --color-amber-800: rgba(255, 143, 0, 1);
  --color-amber-900: rgba(255, 111, 0, 1);
  --color-amber-a-100: rgba(255, 229, 127, 1);
  --color-amber-a-200: rgba(255, 215, 64, 1);
  --color-amber-a-400: rgba(255, 196, 0, 1);
  --color-amber-a-700: rgba(255, 171, 0, 1);
  --color-orange-50: rgba(255, 243, 224, 1);
  --color-orange-100: rgba(255, 224, 178, 1);
  --color-orange-200: rgba(255, 204, 128, 1);
  --color-orange-300: rgba(255, 183, 77, 1);
  --color-orange-400: rgba(255, 167, 38, 1);
  --color-orange-500: rgba(255, 152, 0, 1);
  --color-orange-600: rgba(251, 140, 0, 1);
  --color-orange-700: rgba(245, 124, 0, 1);
  --color-orange-800: rgba(239, 108, 0, 1);
  --color-orange-900: rgba(230, 81, 0, 1);
  --color-orange-a-100: rgba(255, 209, 128, 1);
  --color-orange-a-200: rgba(255, 171, 64, 1);
  --color-orange-a-400: rgba(255, 145, 0, 1);
  --color-orange-a-700: rgba(255, 109, 0, 1);
  --color-deep-orange-50: rgba(251, 233, 231, 1);
  --color-deep-orange-100: rgba(255, 204, 188, 1);
  --color-deep-orange-200: rgba(255, 171, 145, 1);
  --color-deep-orange-300: rgba(255, 138, 101, 1);
  --color-deep-orange-400: rgba(255, 112, 67, 1);
  --color-deep-orange-500: rgba(255, 87, 34, 1);
  --color-deep-orange-600: rgba(244, 81, 30, 1);
  --color-deep-orange-700: rgba(230, 74, 25, 1);
  --color-deep-orange-800: rgba(216, 67, 21, 1);
  --color-deep-orange-900: rgba(191, 54, 12, 1);
  --color-deep-orange-a-100: rgba(255, 158, 128, 1);
  --color-deep-orange-a-200: rgba(255, 110, 64, 1);
  --color-deep-orange-a-400: rgba(255, 61, 0, 1);
  --color-deep-orange-a-700: rgba(221, 44, 0, 1);
  --color-brown-50: rgba(239, 235, 233, 1);
  --color-brown-100: rgba(215, 204, 200, 1);
  --color-brown-200: rgba(188, 170, 164, 1);
  --color-brown-300: rgba(161, 136, 127, 1);
  --color-brown-400: rgba(141, 110, 99, 1);
  --color-brown-500: rgba(121, 85, 72, 1);
  --color-brown-600: rgba(109, 76, 65, 1);
  --color-brown-700: rgba(93, 64, 55, 1);
  --color-brown-800: rgba(78, 52, 46, 1);
  --color-brown-900: rgba(62, 39, 35, 1);
  --color-gray-50: rgba(250, 250, 250, 1);
  --color-gray-100: rgba(245, 245, 245, 1);
  --color-gray-200: rgba(238, 238, 238, 1);
  --color-gray-300: rgba(224, 224, 224, 1);
  --color-gray-400: rgba(189, 189, 189, 1);
  --color-gray-500: rgba(158, 158, 158, 1);
  --color-gray-600: rgba(117, 117, 117, 1);
  --color-gray-700: rgba(97, 97, 97, 1);
  --color-gray-800: rgba(66, 66, 66, 1);
  --color-gray-900: rgba(33, 33, 33, 1);
  --color-blue-gray-50: rgba(236, 239, 241, 1);
  --color-blue-gray-100: rgba(207, 216, 220, 1);
  --color-blue-gray-200: rgba(176, 190, 197, 1);
  --color-blue-gray-300: rgba(144, 164, 174, 1);
  --color-blue-gray-400: rgba(120, 144, 156, 1);
  --color-blue-gray-500: rgba(96, 125, 139, 1);
  --color-blue-gray-600: rgba(84, 110, 122, 1);
  --color-blue-gray-700: rgba(69, 90, 100, 1);
  --color-blue-gray-800: rgba(55, 71, 79, 1);
  --color-blue-gray-900: rgba(38, 50, 56, 1);
  --color-black: rgba(0, 0, 0, 1);
  --color-white: rgba(255, 255, 255, 1);
}
