:root {
--color:#efecf6;
--color:#ede7f2;
--color:#e9e3f1;
--color:#d0d1e9;
--color:#b7bfe0;
--color:#869ace;
--color:#a67eb7;
--color:#ddd9ec;
--color:#8d93c8;
--color:#7184bc;
--color:#dae2f3;
--color:#c0cbe3;
--color:#8585aa;
--color:#2a3f52;
--color:#e5e8f5;
--color:#777ca1;
--color:#f4f1f8;
--color:#efebf5;
--color:#eac9df;
--color:#e8b2d0;
--color:#e6adcd;
--color:#d49bc4;
--color:#894999;
--color:#f1ddec;
--color:#daaed0;
--color:#aa96c6;
--color:#ded7df;
--color:#c1b8cd;
--color:#9084a2;
--color:#5c5973;
--color:#eccdd8;
--color:#e9c9e0;
--color:#bc7ca6;
--color:#463a4e;
--color:#f6eff6;
--color:#f7e9f2;
--color:#f4e1ed;
--color:#fadcea;
--color:#f3a9c3;
--color:#ee86ae;
--color:#df6da6;
--color:#fdf0f6;
--color:#fbdee3;
--color:#f8d1de;
--color:#f097b8;
--color:#dd7daf;
--color:#d464a1;
--color:#fdeeee;
--color:#f7c2ce;
--color:#f097be;
--color:#e73d78;
--color:#fadbd6;
--color:#f5b6b3;
--color:#f7c2bb;
--color:#f5b8d3;
--color:#e376a8;
--color:#e49ec4;
--color:#a34778;
--color:#92556d;
--color:#eddde9;
--color:#eabed1;
--color:#bf8aa7;
--color:#60485a;
--color:#fef7f3;
--color:#fef3ed;
--color:#fdefe7;
--color:#fce8e1;
--color:#fbdacd;
--color:#f19478;
--color:#eb6148;
--color:#fce8dc;
--color:#fbdac8;
--color:#f3a093;
--color:#ef8463;
--color:#fbdfd8;
--color:#f8c8bd;
--color:#f7beb7;
--color:#ec7274;
--color:#e94957;
--color:#e6003e;
--color:#fdeae6;
--color:#f8c8c0;
--color:#ec6d7f;
--color:#e66b70;
--color:#cd4579;
--color:#ea848c;
--color:#dd4660;
--color:#a1505c;
--color:#be5072;
--color:#f5d2de;
--color:#efa1bc;
--color:#d66793;
--color:#862740;
--color:#fef6eb;
--color:#fef0df;
--color:#fbddc5;
--color:#fce1c8;
--color:#fce3cd;
--color:#fbc95e;
--color:#ed6d2b;
--color:#ea5006;
--color:#fee7a9;
--color:#fccf3e;
--color:#f8bd83;
--color:#fabe00;
--color:#ec682c;
--color:#fde8c6;
--color:#f7e4b6;
--color:#f0d98f;
--color:#f5d95b;
--color:#ba5537;
--color:#faf1d3;
--color:#fee4ab;
--color:#fce1ca;
--color:#f7b455;
--color:#ed6c00;
--color:#facd8d;
--color:#fffef7;
--color:#fffeee;
--color:#fffde4;
--color:#fbf496;
--color:#f1e844;
--color:#fff462;
--color:#fff100;
--color:#fffcd1;
--color:#fef8b0;
--color:#ffeb63;
--color:#ffe746;
--color:#ffef47;
--color:#ffeb28;
--color:#fff2c6;
--color:#fdeaba;
--color:#f5e35f;
--color:#ceaf60;
--color:#fae5c7;
--color:#fedd73;
--color:#fdd86c;
--color:#f6f9e4;
--color:#ebeb9e;
--color:#e9efb4;
--color:#e6edab;
--color:#dee88e;
--color:#cde18d;
--color:#aace36;
--color:#83c257;
--color:#eaf3d3;
--color:#dbe79d;
--color:#71bb48;
--color:#fbf8c2;
--color:#eced8e;
--color:#d6e272;
--color:#dfeed8;
--color:#bfdfb8;
--color:#c4d4a2;
--color:#add1a4;
--color:#8ac287;
--color:#e1deb3;
--color:#d8d99d;
--color:#d6d057;
--color:#a09a00;
--color:#596f00;
--color:#f6faf6;
--color:#eff7f0;
--color:#ebf5f0;
--color:#d8ebd8;
--color:#bedc98;
--color:#6bbc6e;
--color:#80c26b;
--color:#7dc058;
--color:#dbebc8;
--color:#9fcf88;
--color:#62bd92;
--color:#00aa74;
--color:#2cb280;
--color:#f2f7e0;
--color:#cfe7d1;
--color:#cbe3b5;
--color:#00925c;
--color:#207f5c;
--color:#ecf5e3;
--color:#97b564;
--color:#567a55;
--color:#d9e3c2;
--color:#acccb0;
--color:#a0ad83;
--color:#6b8631;
--color:#f4f9f6;
--color:#edf6f2;
--color:#d3ebfa;
--color:#d2ebee;
--color:#91d2e6;
--color:#11b3d1;
--color:#00accb;
--color:#e7f4f3;
--color:#d8eef4;
--color:#d0eaed;
--color:#addbd5;
--color:#42b9ac;
--color:#c9e6e0;
--color:#c7e5da;
--color:#b0dcda;
--color:#bce2e4;
--color:#00aeb6;
--color:#6bc5cb;
--color:#1c9393;
--color:#ebf3eb;
--color:#7bbabe;
--color:#538f8d;
--color:#3d6d64;
--color:#e2e4ce;
--color:#c9cec3;
--color:#90ad98;
--color:#7ca58f;
--color:#f5fbfe;
--color:#edf7f7;
--color:#e6f4f7;
--color:#e0f1f4;
--color:#c0e4f1;
--color:#80cde7;
--color:#4ec1e6;
--color:#00a7e3;
--color:#d4eaf2;
--color:#7fcdec;
--color:#00b4e8;
--color:#0086c9;
--color:#e6f2fb;
--color:#a1c8eb;
--color:#9ad2f3;
--color:#70b4e4;
--color:#0d64b0;
--color:#006dbb;
--color:#eaf4f9;
--color:#8fc6ec;
--color:#0068a2;
--color:#255da7;
--color:#eaf4fc;
--color:#82c2eb;
--color:#bed6e3;
--color:#e3e7f5;
--color:#b4c2e3;
--color:#6c88c4;
--color:#035aa9;
--color:#313994;
--color:#dfe8ef;
--color:#a2c8e0;
--color:#7aaaca;
--color:#3d7599;
--color:#004977;
--color:#fffcf7;
--color:#fff8f2;
--color:#fef7ef;
--color:#fef3e9;
--color:#fef1e6;
--color:#eac8ce;
--color:#d3896b;
--color:#ce684d;
--color:#da6844;
--color:#feefde;
--color:#edd0b8;
--color:#f8c28d;
--color:#ba5c4a;
--color:#8b4e43;
--color:#c44d2b;
--color:#fde8d0;
--color:#bc7e5d;
--color:#dbb089;
--color:#a27b5f;
--color:#843f2d;
--color:#fbf5df;
--color:#f7ecd7;
--color:#f5dbb8;
--color:#f3d5ad;
--color:#ecd0ad;
--color:#d39d57;
--color:#c9732f;
--color:#f8f1e6;
--color:#fef4e8;
--color:#f7f0e2;
--color:#efe6c9;
--color:#d2c7b3;
--color:#91785f;
--color:#6c5037;
--color:#f6f0f3;
--color:#fef0dd;
--color:#f8edcb;
--color:#f5e6c1;
--color:#bc925b;
--color:#a4866a;
--color:#f5efec;
--color:#e9e0da;
--color:#ae9183;
--color:#886449;
--color:#4b2c1f;
--color:#e4d7ab;
--color:#a18856;
--color:#706047;
--color:#4e463e;
--color:#fbd9bf;
--color:#f9c37b;
--color:#eca153;
--color:#b65c22;
--color:#f0f5f7;
--color:#eaeff2;
--color:#e6ebee;
--color:#d9e1e5;
--color:#ced6db;
--color:#b7c1c8;
--color:#a3adb4;
--color:#8b979e;
--color:#6d767c;
--color:#585f64;
--color:#3e4448;
--color:#222327;
--color:#f2f3f3;
--color:#ebecec;
--color:#e4e4e4;
--color:#dcdddd;
--color:#c9caca;
--color:#b5b6b6;
--color:#9fa0a0;
--color:#7d7d7d;
--color:#656464;
--color:#4c4948;
--color:#2f2725;
--color:#f2f3f3;
--color:#f0f1f0;
--color:#eaeae8;
--color:#dddcd8;
--color:#c9c9c6;
--color:#b5b4b0;
--color:#9f9f9b;
--color:#7d7c78;
--color:#666360;
--color:#4c4845;
--color:#2f2722;
--color:#f8f7f2;
--color:#f3f2ec;
--color:#efeee9;
--color:#e6e6e0;
--color:#dddcd6;
--color:#c9c9c2;
--color:#b5b5af;
--color:#9f9f99;
--color:#7d7c77;
--color:#66645f;
--color:#4c4944;
--color:#2f2721;
--color:#f3a9c9;
--color:#fbd39c;
--color:#fff796;
--color:#d7e3a2;
--color:#8471b1;
--color:#a2cb23;
--color:#71c9e8;
--color:#0089ce;
--color:#ffffff;
--color:#2f2521;
--color:#221815;
}
:root {
--color:#efecf6;
--color:#ede7f2;
--color:#e9e3f1;
--color:#d0d1e9;
--color:#b7bfe0;
--color:#869ace;
--color:#a67eb7;
--color:#ddd9ec;
--color:#8d93c8;
--color:#7184bc;
--color:#dae2f3;
--color:#c0cbe3;
--color:#8585aa;
--color:#2a3f52;
--color:#e5e8f5;
--color:#777ca1;
--color:#f4f1f8;
--color:#efebf5;
--color:#eac9df;
--color:#e8b2d0;
--color:#e6adcd;
--color:#d49bc4;
--color:#894999;
--color:#f1ddec;
--color:#daaed0;
--color:#aa96c6;
--color:#ded7df;
--color:#c1b8cd;
--color:#9084a2;
--color:#5c5973;
--color:#eccdd8;
--color:#e9c9e0;
--color:#bc7ca6;
--color:#463a4e;
--color:#f6eff6;
--color:#f7e9f2;
--color:#f4e1ed;
--color:#fadcea;
--color:#f3a9c3;
--color:#ee86ae;
--color:#df6da6;
--color:#fdf0f6;
--color:#fbdee3;
--color:#f8d1de;
--color:#f097b8;
--color:#dd7daf;
--color:#d464a1;
--color:#fdeeee;
--color:#f7c2ce;
--color:#f097be;
--color:#e73d78;
--color:#fadbd6;
--color:#f5b6b3;
--color:#f7c2bb;
--color:#f5b8d3;
--color:#e376a8;
--color:#e49ec4;
--color:#a34778;
--color:#92556d;
--color:#eddde9;
--color:#eabed1;
--color:#bf8aa7;
--color:#60485a;
--color:#fef7f3;
--color:#fef3ed;
--color:#fdefe7;
--color:#fce8e1;
--color:#fbdacd;
--color:#f19478;
--color:#eb6148;
--color:#fce8dc;
--color:#fbdac8;
--color:#f3a093;
--color:#ef8463;
--color:#fbdfd8;
--color:#f8c8bd;
--color:#f7beb7;
--color:#ec7274;
--color:#e94957;
--color:#e6003e;
--color:#fdeae6;
--color:#f8c8c0;
--color:#ec6d7f;
--color:#e66b70;
--color:#cd4579;
--color:#ea848c;
--color:#dd4660;
--color:#a1505c;
--color:#be5072;
--color:#f5d2de;
--color:#efa1bc;
--color:#d66793;
--color:#862740;
--color:#fef6eb;
--color:#fef0df;
--color:#fbddc5;
--color:#fce1c8;
--color:#fce3cd;
--color:#fbc95e;
--color:#ed6d2b;
--color:#ea5006;
--color:#fee7a9;
--color:#fccf3e;
--color:#f8bd83;
--color:#fabe00;
--color:#ec682c;
--color:#fde8c6;
--color:#f7e4b6;
--color:#f0d98f;
--color:#f5d95b;
--color:#ba5537;
--color:#faf1d3;
--color:#fee4ab;
--color:#fce1ca;
--color:#f7b455;
--color:#ed6c00;
--color:#facd8d;
--color:#fffef7;
--color:#fffeee;
--color:#fffde4;
--color:#fbf496;
--color:#f1e844;
--color:#fff462;
--color:#fff100;
--color:#fffcd1;
--color:#fef8b0;
--color:#ffeb63;
--color:#ffe746;
--color:#ffef47;
--color:#ffeb28;
--color:#fff2c6;
--color:#fdeaba;
--color:#f5e35f;
--color:#ceaf60;
--color:#fae5c7;
--color:#fedd73;
--color:#fdd86c;
--color:#f6f9e4;
--color:#ebeb9e;
--color:#e9efb4;
--color:#e6edab;
--color:#dee88e;
--color:#cde18d;
--color:#aace36;
--color:#83c257;
--color:#eaf3d3;
--color:#dbe79d;
--color:#71bb48;
--color:#fbf8c2;
--color:#eced8e;
--color:#d6e272;
--color:#dfeed8;
--color:#bfdfb8;
--color:#c4d4a2;
--color:#add1a4;
--color:#8ac287;
--color:#e1deb3;
--color:#d8d99d;
--color:#d6d057;
--color:#a09a00;
--color:#596f00;
--color:#f6faf6;
--color:#eff7f0;
--color:#ebf5f0;
--color:#d8ebd8;
--color:#bedc98;
--color:#6bbc6e;
--color:#80c26b;
--color:#7dc058;
--color:#dbebc8;
--color:#9fcf88;
--color:#62bd92;
--color:#00aa74;
--color:#2cb280;
--color:#f2f7e0;
--color:#cfe7d1;
--color:#cbe3b5;
--color:#00925c;
--color:#207f5c;
--color:#ecf5e3;
--color:#97b564;
--color:#567a55;
--color:#d9e3c2;
--color:#acccb0;
--color:#a0ad83;
--color:#6b8631;
--color:#f4f9f6;
--color:#edf6f2;
--color:#d3ebfa;
--color:#d2ebee;
--color:#91d2e6;
--color:#11b3d1;
--color:#00accb;
--color:#e7f4f3;
--color:#d8eef4;
--color:#d0eaed;
--color:#addbd5;
--color:#42b9ac;
--color:#c9e6e0;
--color:#c7e5da;
--color:#b0dcda;
--color:#bce2e4;
--color:#00aeb6;
--color:#6bc5cb;
--color:#1c9393;
--color:#ebf3eb;
--color:#7bbabe;
--color:#538f8d;
--color:#3d6d64;
--color:#e2e4ce;
--color:#c9cec3;
--color:#90ad98;
--color:#7ca58f;
--color:#f5fbfe;
--color:#edf7f7;
--color:#e6f4f7;
--color:#e0f1f4;
--color:#c0e4f1;
--color:#80cde7;
--color:#4ec1e6;
--color:#00a7e3;
--color:#d4eaf2;
--color:#7fcdec;
--color:#00b4e8;
--color:#0086c9;
--color:#e6f2fb;
--color:#a1c8eb;
--color:#9ad2f3;
--color:#70b4e4;
--color:#0d64b0;
--color:#006dbb;
--color:#eaf4f9;
--color:#8fc6ec;
--color:#0068a2;
--color:#255da7;
--color:#eaf4fc;
--color:#82c2eb;
--color:#bed6e3;
--color:#e3e7f5;
--color:#b4c2e3;
--color:#6c88c4;
--color:#035aa9;
--color:#313994;
--color:#dfe8ef;
--color:#a2c8e0;
--color:#7aaaca;
--color:#3d7599;
--color:#004977;
--color:#fffcf7;
--color:#fff8f2;
--color:#fef7ef;
--color:#fef3e9;
--color:#fef1e6;
--color:#eac8ce;
--color:#d3896b;
--color:#ce684d;
--color:#da6844;
--color:#feefde;
--color:#edd0b8;
--color:#f8c28d;
--color:#ba5c4a;
--color:#8b4e43;
--color:#c44d2b;
--color:#fde8d0;
--color:#bc7e5d;
--color:#dbb089;
--color:#a27b5f;
--color:#843f2d;
--color:#fbf5df;
--color:#f7ecd7;
--color:#f5dbb8;
--color:#f3d5ad;
--color:#ecd0ad;
--color:#d39d57;
--color:#c9732f;
--color:#f8f1e6;
--color:#fef4e8;
--color:#f7f0e2;
--color:#efe6c9;
--color:#d2c7b3;
--color:#91785f;
--color:#6c5037;
--color:#f6f0f3;
--color:#fef0dd;
--color:#f8edcb;
--color:#f5e6c1;
--color:#bc925b;
--color:#a4866a;
--color:#f5efec;
--color:#e9e0da;
--color:#ae9183;
--color:#886449;
--color:#4b2c1f;
--color:#e4d7ab;
--color:#a18856;
--color:#706047;
--color:#4e463e;
--color:#fbd9bf;
--color:#f9c37b;
--color:#eca153;
--color:#b65c22;
--color:#f0f5f7;
--color:#eaeff2;
--color:#e6ebee;
--color:#d9e1e5;
--color:#ced6db;
--color:#b7c1c8;
--color:#a3adb4;
--color:#8b979e;
--color:#6d767c;
--color:#585f64;
--color:#3e4448;
--color:#222327;
--color:#f2f3f3;
--color:#ebecec;
--color:#e4e4e4;
--color:#dcdddd;
--color:#c9caca;
--color:#b5b6b6;
--color:#9fa0a0;
--color:#7d7d7d;
--color:#656464;
--color:#4c4948;
--color:#2f2725;
--color:#f2f3f3;
--color:#f0f1f0;
--color:#eaeae8;
--color:#dddcd8;
--color:#c9c9c6;
--color:#b5b4b0;
--color:#9f9f9b;
--color:#7d7c78;
--color:#666360;
--color:#4c4845;
--color:#2f2722;
--color:#f8f7f2;
--color:#f3f2ec;
--color:#efeee9;
--color:#e6e6e0;
--color:#dddcd6;
--color:#c9c9c2;
--color:#b5b5af;
--color:#9f9f99;
--color:#7d7c77;
--color:#66645f;
--color:#4c4944;
--color:#2f2721;
--color:#f3a9c9;
--color:#fbd39c;
--color:#fff796;
--color:#d7e3a2;
--color:#8471b1;
--color:#a2cb23;
--color:#71c9e8;
--color:#0089ce;
--color:#ffffff;
--color:#2f2521;
--color:#221815;
}