:root {
--color: #F5F5F5;
--color: #005761;
--color: #01579B;
--color: #ade2eb;
--color: #FFFFFF;
--color: #c9eef2;
--color: #e7f2f3;
--color: #e7f2f3;
--color: #E4F2F2;
--color: #caedf2;
--color: #d0edf1;
--color: #d1eafa;
--color: #b6e1e780;
--color: #e0eff1;
--color: #00c6e0;
--color: #c1def0;
--color: #91b859;
--color: #f6a434;
--color: #6182b8;
--color: #e53935;
--color: #7c4dff;
--color: #f76d47;
--color: #39adb5;
--color: #01579B;
--color: #272727;
--color: #e53935;
--color: #01579B;
--color: #272727;
--color: #39ADB5;
--color: #6182B8;
--color: #7C4DFF;
--color: #E53935;
--color: #91B859;
--color: #39ADB5;
--color: #F6A434;
--color: #F76D47;
--color: #F76D47;
}