:root{
--color: rgb(212, 76, 71);
--color: rgb(144, 101, 176);
--color: rgb(50, 126, 169);
--color: rgb(67, 131, 98);
--color: rgb(217, 114, 15);
--color: rgb(194, 75, 138);
--color: rgb(120, 119, 116);
--color: rgb(202, 145, 46);
}
