:root {
  --color: #fefdfb;
  --color: #fff9ed;
  --color: #fff4d5;
  --color: #ffecbc;
  --color: #ffe3a2;
  --color: #ffd386;
  --color: #f3ba63;
  --color: #ee9d2b;
  --color: #ffb224;
  --color: #ffa01c;
  --color: #ad5700;
  --color: #4e2009;
  --color: #fbfdff;
  --color: #f5faff;
  --color: #edf6ff;
  --color: #e1f0ff;
  --color: #cee7fe;
  --color: #b7d9f8;
  --color: #96c7f2;
  --color: #5eb0ef;
  --color: #0091ff;
  --color: #0081f1;
  --color: #006adc;
  --color: #00254d;
  --color: #fdfcfc;
  --color: #fdf8f6;
  --color: #f8f1ee;
  --color: #f2e8e4;
  --color: #eaddd7;
  --color: #e0cec7;
  --color: #d1b9b0;
  --color: #bfa094;
  --color: #a18072;
  --color: #977669;
  --color: #846358;
  --color: #43302b;
  --color: #fefdfc;
  --color: #fcf9f6;
  --color: #f8f1ea;
  --color: #f4e9dd;
  --color: #efddcc;
  --color: #e8cdb5;
  --color: #ddb896;
  --color: #d09e72;
  --color: #ad7f58;
  --color: #a07653;
  --color: #886349;
  --color: #3f2c22;
  --color: #fffcfd;
  --color: #fff7fb;
  --color: #feeff6;
  --color: #fce5f0;
  --color: #f9d8e7;
  --color: #f4c6db;
  --color: #edadc8;
  --color: #e58fb1;
  --color: #e93d82;
  --color: #e03177;
  --color: #d31e66;
  --color: #3d0d1d;
  --color: #fafdfe;
  --color: #f2fcfd;
  --color: #e7f9fb;
  --color: #d8f3f6;
  --color: #c4eaef;
  --color: #aadee6;
  --color: #84cdda;
  --color: #3db9cf;
  --color: #05a2c2;
  --color: #0894b3;
  --color: #0c7792;
  --color: #04313c;
  --color: #fdfdfc;
  --color: #fbf9f2;
  --color: #f5f2e9;
  --color: #eeeadd;
  --color: #e5dfd0;
  --color: #dad1bd;
  --color: #cbbda4;
  --color: #b8a383;
  --color: #978365;
  --color: #8c795d;
  --color: #776750;
  --color: #3b352b;
  --color: #fbfefb;
  --color: #f3fcf3;
  --color: #ebf9eb;
  --color: #dff3df;
  --color: #ceebcf;
  --color: #b7dfba;
  --color: #97cf9c;
  --color: #65ba75;
  --color: #46a758;
  --color: #3d9a50;
  --color: #297c3b;
  --color: #1b311e;
  --color: #fcfcfc;
  --color: #f8f8f8;
  --color: #f3f3f3;
  --color: #ededed;
  --color: #e8e8e8;
  --color: #e2e2e2;
  --color: #dbdbdb;
  --color: #c7c7c7;
  --color: #8f8f8f;
  --color: #858585;
  --color: #6f6f6f;
  --color: #171717;
  --color: #fbfefc;
  --color: #f2fcf5;
  --color: #e9f9ee;
  --color: #ddf3e4;
  --color: #ccebd7;
  --color: #b4dfc4;
  --color: #92ceac;
  --color: #5bb98c;
  --color: #30a46c;
  --color: #299764;
  --color: #18794e;
  --color: #153226;
  --color: #fdfdfe;
  --color: #f8faff;
  --color: #f0f4ff;
  --color: #e6edfe;
  --color: #d9e2fc;
  --color: #c6d4f9;
  --color: #aec0f5;
  --color: #8da4ef;
  --color: #3e63dd;
  --color: #3a5ccc;
  --color: #3451b2;
  --color: #101d46;
  --color: #fcfdfa;
  --color: #f7fcf0;
  --color: #eefadc;
  --color: #e4f7c7;
  --color: #d7f2b0;
  --color: #c9e894;
  --color: #b1d16a;
  --color: #94ba2c;
  --color: #99d52a;
  --color: #93c926;
  --color: #5d770d;
  --color: #263209;
  --color: #fdfcfd;
  --color: #f9f8f9;
  --color: #f4f2f4;
  --color: #eeedef;
  --color: #e9e8ea;
  --color: #e4e2e4;
  --color: #dcdbdd;
  --color: #c8c7cb;
  --color: #908e96;
  --color: #86848d;
  --color: #6f6e77;
  --color: #1a1523;
  --color: #f9fefd;
  --color: #effefa;
  --color: #e1fbf4;
  --color: #d2f7ed;
  --color: #c0efe3;
  --color: #a5e4d4;
  --color: #7dd4c0;
  --color: #40c4aa;
  --color: #70e1c8;
  --color: #69d9c1;
  --color: #147d6f;
  --color: #09342e;
  --color: #fcfdfc;
  --color: #f8faf8;
  --color: #f2f4f2;
  --color: #ecefec;
  --color: #e6e9e6;
  --color: #e0e4e0;
  --color: #d8dcd8;
  --color: #c3c8c2;
  --color: #8b918a;
  --color: #818780;
  --color: #6b716a;
  --color: #141e12;
  --color: #fefcfb;
  --color: #fef8f4;
  --color: #fff1e7;
  --color: #ffe8d7;
  --color: #ffdcc3;
  --color: #ffcca7;
  --color: #ffb381;
  --color: #fa934e;
  --color: #f76808;
  --color: #ed5f00;
  --color: #bd4b00;
  --color: #451e11;
  --color: #fffcfe;
  --color: #fff7fc;
  --color: #feeef8;
  --color: #fce5f3;
  --color: #f9d8ec;
  --color: #f3c6e2;
  --color: #ecadd4;
  --color: #e38ec3;
  --color: #d6409f;
  --color: #d23197;
  --color: #cd1d8d;
  --color: #3b0a2a;
  --color: #fefcff;
  --color: #fff8ff;
  --color: #fceffc;
  --color: #f9e5f9;
  --color: #f3d9f4;
  --color: #ebc8ed;
  --color: #dfafe3;
  --color: #cf91d8;
  --color: #ab4aba;
  --color: #a43cb4;
  --color: #9c2bad;
  --color: #340c3b;
  --color: #fefcfe;
  --color: #fdfaff;
  --color: #f9f1fe;
  --color: #f3e7fc;
  --color: #eddbf9;
  --color: #e3ccf4;
  --color: #d3b4ed;
  --color: #be93e4;
  --color: #8e4ec6;
  --color: #8445bc;
  --color: #793aaf;
  --color: #2b0e44;
  --color: #fffcfc;
  --color: #fff8f8;
  --color: #ffefef;
  --color: #ffe5e5;
  --color: #fdd8d8;
  --color: #f9c6c6;
  --color: #f3aeaf;
  --color: #eb9091;
  --color: #e5484d;
  --color: #dc3d43;
  --color: #cd2b31;
  --color: #381316;
  --color: #fbfdfc;
  --color: #f8faf9;
  --color: #f1f4f3;
  --color: #ecefed;
  --color: #e6e9e8;
  --color: #dfe4e2;
  --color: #d7dcda;
  --color: #c2c9c6;
  --color: #8a918e;
  --color: #808784;
  --color: #6a716e;
  --color: #111c18;
  --color: #fdfdfc;
  --color: #f9f9f8;
  --color: #f3f3f2;
  --color: #eeeeec;
  --color: #e9e9e6;
  --color: #e3e3e0;
  --color: #dbdbd7;
  --color: #c8c7c1;
  --color: #90908c;
  --color: #868682;
  --color: #706f6c;
  --color: #1b1b18;
  --color: #f9feff;
  --color: #f1fcff;
  --color: #e4f9ff;
  --color: #d5f4fd;
  --color: #c1ecf9;
  --color: #a4dff1;
  --color: #79cfea;
  --color: #2ebde5;
  --color: #68ddfd;
  --color: #5fd4f4;
  --color: #0078a1;
  --color: #003242;
  --color: #fbfcfd;
  --color: #f8f9fa;
  --color: #f1f3f5;
  --color: #eceef0;
  --color: #e6e8eb;
  --color: #dfe3e6;
  --color: #d7dbdf;
  --color: #c1c8cd;
  --color: #889096;
  --color: #7e868c;
  --color: #687076;
  --color: #11181c;
  --color: #fafefd;
  --color: #f1fcfa;
  --color: #e7f9f5;
  --color: #d9f3ee;
  --color: #c7ebe5;
  --color: #afdfd7;
  --color: #8dcec3;
  --color: #53b9ab;
  --color: #12a594;
  --color: #0e9888;
  --color: #067a6f;
  --color: #10302b;
  --color: #fffcfc;
  --color: #fff8f7;
  --color: #fff0ee;
  --color: #ffe6e2;
  --color: #fdd8d3;
  --color: #fac7be;
  --color: #f3b0a2;
  --color: #ea9280;
  --color: #e54d2e;
  --color: #db4324;
  --color: #ca3214;
  --color: #341711;
  --color: #fdfcfe;
  --color: #fbfaff;
  --color: #f5f2ff;
  --color: #ede9fe;
  --color: #e4defc;
  --color: #d7cff9;
  --color: #c4b8f3;
  --color: #aa99ec;
  --color: #6e56cf;
  --color: #644fc1;
  --color: #5746af;
  --color: #20134b;
  --color: #fdfdf9;
  --color: #fffce8;
  --color: #fffbd1;
  --color: #fff8bb;
  --color: #fef2a4;
  --color: #f9e68c;
  --color: #efd36c;
  --color: #ebbc00;
  --color: #f5d90a;
  --color: #f7ce00;
  --color: #946800;
  --color: #35290f;
  --color: #1f1300;
  --color: #271700;
  --color: #341c00;
  --color: #3f2200;
  --color: #4a2900;
  --color: #573300;
  --color: #693f05;
  --color: #824e00;
  --color: #ffb224;
  --color: #ffcb47;
  --color: #f1a10d;
  --color: #fef3dd;
  --color: #0f1720;
  --color: #0f1b2d;
  --color: #10243e;
  --color: #102a4c;
  --color: #0f3058;
  --color: #0d3868;
  --color: #0a4481;
  --color: #0954a5;
  --color: #0091ff;
  --color: #369eff;
  --color: #52a9ff;
  --color: #eaf6ff;
  --color: #191514;
  --color: #1f1917;
  --color: #2a211f;
  --color: #332824;
  --color: #3b2e29;
  --color: #453530;
  --color: #57433c;
  --color: #74594e;
  --color: #a18072;
  --color: #b08c7d;
  --color: #cba393;
  --color: #f9ede7;
  --color: #191513;
  --color: #221813;
  --color: #2e201a;
  --color: #36261e;
  --color: #3e2c22;
  --color: #493528;
  --color: #5c4332;
  --color: #775940;
  --color: #ad7f58;
  --color: #bd8b60;
  --color: #dba16e;
  --color: #faf0e5;
  --color: #1d1418;
  --color: #27141c;
  --color: #3c1827;
  --color: #481a2d;
  --color: #541b33;
  --color: #641d3b;
  --color: #801d45;
  --color: #ae1955;
  --color: #e93d82;
  --color: #f04f88;
  --color: #f76190;
  --color: #feecf4;
  --color: #07191d;
  --color: #061e24;
  --color: #072830;
  --color: #07303b;
  --color: #073844;
  --color: #064150;
  --color: #045063;
  --color: #00647d;
  --color: #05a2c2;
  --color: #00b1cc;
  --color: #00c2d7;
  --color: #e1f8fa;
  --color: #171613;
  --color: #1c1a15;
  --color: #26231c;
  --color: #2e2a21;
  --color: #353026;
  --color: #3e382c;
  --color: #504737;
  --color: #6b5d48;
  --color: #978365;
  --color: #a59071;
  --color: #bfa888;
  --color: #f7f4e7;
  --color: #0d1912;
  --color: #0f1e13;
  --color: #132819;
  --color: #16301d;
  --color: #193921;
  --color: #1d4427;
  --color: #245530;
  --color: #2f6e3b;
  --color: #46a758;
  --color: #55b467;
  --color: #63c174;
  --color: #e5fbeb;
  --color: #161616;
  --color: #1c1c1c;
  --color: #232323;
  --color: #282828;
  --color: #2e2e2e;
  --color: #343434;
  --color: #3e3e3e;
  --color: #505050;
  --color: #707070;
  --color: #7e7e7e;
  --color: #a0a0a0;
  --color: #ededed;
  --color: #0d1912;
  --color: #0c1f17;
  --color: #0f291e;
  --color: #113123;
  --color: #133929;
  --color: #164430;
  --color: #1b543a;
  --color: #236e4a;
  --color: #30a46c;
  --color: #3cb179;
  --color: #4cc38a;
  --color: #e5fbeb;
  --color: #131620;
  --color: #15192d;
  --color: #192140;
  --color: #1c274f;
  --color: #1f2c5c;
  --color: #22346e;
  --color: #273e89;
  --color: #2f4eb2;
  --color: #3e63dd;
  --color: #5373e7;
  --color: #849dff;
  --color: #eef1fd;
  --color: #141807;
  --color: #181d08;
  --color: #1e260d;
  --color: #252e0f;
  --color: #2b3711;
  --color: #344213;
  --color: #415215;
  --color: #536716;
  --color: #99d52a;
  --color: #c4f042;
  --color: #87be22;
  --color: #effbdd;
  --color: #161618;
  --color: #1c1c1f;
  --color: #232326;
  --color: #28282c;
  --color: #2e2e32;
  --color: #34343a;
  --color: #3e3e44;
  --color: #504f57;
  --color: #706f78;
  --color: #7e7d86;
  --color: #a09fa6;
  --color: #ededef;
  --color: #081917;
  --color: #05201e;
  --color: #052926;
  --color: #04312c;
  --color: #033a34;
  --color: #01453d;
  --color: #00564a;
  --color: #006d5b;
  --color: #70e1c8;
  --color: #95f3d9;
  --color: #25d0ab;
  --color: #e7fcf7;
  --color: #151715;
  --color: #1a1d19;
  --color: #20241f;
  --color: #262925;
  --color: #2b2f2a;
  --color: #313530;
  --color: #3b3f3a;
  --color: #4c514b;
  --color: #687366;
  --color: #778175;
  --color: #9aa299;
  --color: #eceeec;
  --color: #1f1206;
  --color: #2b1400;
  --color: #391a03;
  --color: #441f04;
  --color: #4f2305;
  --color: #5f2a06;
  --color: #763205;
  --color: #943e00;
  --color: #f76808;
  --color: #ff802b;
  --color: #ff8b3e;
  --color: #feeadd;
  --color: #1f121b;
  --color: #271421;
  --color: #3a182f;
  --color: #451a37;
  --color: #501b3f;
  --color: #601d48;
  --color: #7a1d5a;
  --color: #a71873;
  --color: #d6409f;
  --color: #e34ba9;
  --color: #f65cb6;
  --color: #feebf7;
  --color: #1d131d;
  --color: #251425;
  --color: #341a34;
  --color: #3e1d40;
  --color: #48214b;
  --color: #542658;
  --color: #692d6f;
  --color: #883894;
  --color: #ab4aba;
  --color: #bd54c6;
  --color: #d864d8;
  --color: #fbecfc;
  --color: #1b141d;
  --color: #221527;
  --color: #301a3a;
  --color: #3a1e48;
  --color: #432155;
  --color: #4e2667;
  --color: #5f2d84;
  --color: #7938b2;
  --color: #8e4ec6;
  --color: #9d5bd2;
  --color: #bf7af0;
  --color: #f7ecfc;
  --color: #1f1315;
  --color: #291415;
  --color: #3c181a;
  --color: #481a1d;
  --color: #541b1f;
  --color: #671e22;
  --color: #822025;
  --color: #aa2429;
  --color: #e5484d;
  --color: #f2555a;
  --color: #ff6369;
  --color: #feecee;
  --color: #141716;
  --color: #191d1b;
  --color: #1f2421;
  --color: #252a27;
  --color: #2a2f2c;
  --color: #303633;
  --color: #393f3c;
  --color: #4a524e;
  --color: #66736d;
  --color: #75817b;
  --color: #99a29e;
  --color: #eceeed;
  --color: #161615;
  --color: #1c1c1a;
  --color: #232320;
  --color: #282826;
  --color: #2e2e2b;
  --color: #353431;
  --color: #3e3e3a;
  --color: #51504b;
  --color: #717069;
  --color: #7f7e77;
  --color: #a1a09a;
  --color: #ededec;
  --color: #0c1820;
  --color: #071d2a;
  --color: #082636;
  --color: #082d41;
  --color: #08354c;
  --color: #083e59;
  --color: #064b6b;
  --color: #005d85;
  --color: #68ddfd;
  --color: #8ae8ff;
  --color: #2ec8ee;
  --color: #eaf8ff;
  --color: #151718;
  --color: #1a1d1e;
  --color: #202425;
  --color: #26292b;
  --color: #2b2f31;
  --color: #313538;
  --color: #3a3f42;
  --color: #4c5155;
  --color: #697177;
  --color: #787f85;
  --color: #9ba1a6;
  --color: #ecedee;
  --color: #091915;
  --color: #04201b;
  --color: #062923;
  --color: #07312b;
  --color: #083932;
  --color: #09443c;
  --color: #0b544a;
  --color: #0c6d62;
  --color: #12a594;
  --color: #10b3a3;
  --color: #0ac5b3;
  --color: #e1faf4;
  --color: #1d1412;
  --color: #2a1410;
  --color: #3b1813;
  --color: #481a14;
  --color: #541c15;
  --color: #652016;
  --color: #7f2315;
  --color: #a42a12;
  --color: #e54d2e;
  --color: #ec5e41;
  --color: #f16a50;
  --color: #feefec;
  --color: #17151f;
  --color: #1c172b;
  --color: #251e40;
  --color: #2c2250;
  --color: #32275f;
  --color: #392c72;
  --color: #443592;
  --color: #5842c3;
  --color: #6e56cf;
  --color: #7c66dc;
  --color: #9e8cfc;
  --color: #f1eefe;
  --color: #1c1500;
  --color: #221a00;
  --color: #2c2100;
  --color: #352800;
  --color: #3e3000;
  --color: #493c00;
  --color: #594a05;
  --color: #705e00;
  --color: #f5d90a;
  --color: #ffef5c;
  --color: #f0c000;
  --color: #fffad1;
}
