:root {
--color-aqua: #33a8a1;
--color-aqua: #87dbdd;
--color-black: #000000;
--color-black: #292d32;
--color-black: #999999;
--color-black: #3c3c3c;
--color: #2c81fb;
--color-blue: #438bf9;
--color-blue: #5aa5ea;
--color-blue: #f5f8fa;
--color-gray: #636b77;
--color:#505864;
--color-gray: rgb(99, 107, 119);
--color-gray: rgb(99, 107, 119);
--color-gray: rgb(99, 107, 119);
--color-gray: #f6f6f7;
--color-green: #039c55;
--color-green: #98dd62;
--color-indigo: #e54887;
--color-indigo: #f4afca;
--color-lime: #aff218;
--color-orange: #ff4400;
--color-orange: #fe6900;
--color-red: #e81a0c;
--color-red: #fe7d87;
--color-violet: #702bfe;
--color-violet: #b0a6e5;
--color-white: #ffffff;
--color-yellow: #feb912;
--color-yellow: #feda48;
}


