:root {
--color-cayman: #1570ff;
--color-bayside: #9ddef4;
--color-lean: #c2a5f9;
--color: #ffb3da;
--color-naples: #fece00;
--color-navel: #f97600;
--color-hyla: #5aba01;
--color-grey: #454f59;
--color: #737f8b;
color: #8d99a7;
}
