:root {
--color-rectangle-2-5: #ad8db0;
--color-rectangle-2-5: #2b5a0c;
--color-rectangle-2-5: #fede81;
--color-rectangle-2-5: #efd7ae;
--color-rectangle-2-5: #e8af68;
--color-rectangle-2-5: #ffa8a3;
--color-rectangle-2-5: #e9f7ec;
--color-rectangle-2-5: #db94b0;
--color-rectangle-2-5: #00aab2;
--color-rectangle-2-5: #fa8585;
--color-rectangle-2-5: #f7b51d;
--color-rectangle-2-5: #ededed;
--color-rectangle-2-5: #cadefc;
--color-rectangle-2-5: #93acbd;
--color-rectangle-2-5: #d4aa7d;
--color-rectangle-2-5: #66eac9;
--color-rectangle-2-5: #a5ca12;
--color-rectangle-2-5: #a34100;
--color-rectangle-2-5: #00818a;
--color-rectangle-2-5: #6c0604;
--color-rectangle-2-5: #ff999b;
--color-rectangle-2-5: #93acbd;
--color-rectangle-2-5: #00c2bf;
--color-rectangle-2-5: #f7b51d;
--color-rectangle-2-5: #ff7a8a;
--color-rectangle-2-5: #f0b6a3;
--color-rectangle-2-5: #a26f34;
--color-rectangle-2-5: #791b2b;
--color-rectangle-2-5: #0a2371;
--color-rectangle-2-5: #f5e4c2;
--color-rectangle-2-5: #fab700;
--color-rectangle-2-5: #f1ad88;
--color-rectangle-2-5: #c11f40;
--color-rectangle-2-5: #ff9900;
--color-rectangle-2-5: #46979b;
--color-rectangle-2-5: #ebf0c1;
--color-rectangle-2-5: #ff6338;
--color-rectangle-2-5: #34a7b2;
--color-rectangle-2-5: #eaceb3;
--color-rectangle-2-5: #f1d7ac;
--color-rectangle-2-5: #e44e4e;
--color-rectangle-2-5: #ea4d4d;
--color-rectangle-2-5: #2f4b37;
--color-rectangle-2-5: #d4d4d4;
--color-rectangle-2-5: #f2be8c;
--color-rectangle-2-5: #9dacc8;
--color-rectangle-2-5: #fbb23c;
--color-rectangle-2-5: #ff0095;
--color-rectangle-2-5: #fafafa;
--color-rectangle-2-5: #ffd400;
--color-rectangle-2-5: #fed7c8;
--color-rectangle-2-5: #ffa35c;
--color-rectangle-2-5: #d8c0a2;
--color-rectangle-2-5: #c58787;
--color-rectangle-2-5: #ffc7da;
--color-rectangle-2-5: #abdff2;
--color-rectangle-2-5: #fe5e52;
--color-rectangle-2-5: #067f7b;
--color-rectangle-2-5: #84a4a4;
--color-rectangle-2-5: #f5dccc;
--color-rectangle-2-5: #f4d35d;
--color-rectangle-2-5: #c1ac25;
--color-rectangle-2-5: #e8c468;
--color-rectangle-2-5: #f3dcaf;
--color-rectangle-2-5: #7b245b;
--color-rectangle-2-5: #2ec2b3;
--color-rectangle-2-5: #ff9c75;
--color-rectangle-2-5: #e63746;
--color-rectangle-2-5: #00bd55;
--color-rectangle-2-5: #77a41e;
--color-rectangle-2-5: #faa175;
--color-rectangle-2-5: #f5f5f5;
--color-rectangle-2-5: #b5960d;
--color-rectangle-2-5: #f5f5f5;
--color-rectangle-2-5: #f6f5ff;
--color-rectangle-2-5: #f5e2c7;
--color-rectangle-2-5: #ff3b38;
--color-rectangle-2-5: #faaa14;
--color-rectangle-2-5: #f7924b;
--color-rectangle-2-5: #88f6fb;
--color-rectangle-2-5: #b4b8ee;
--color-rectangle-2-5: #1a333d;
--color-rectangle-2-5: #506468;
--color-rectangle-2-5: #3e363f;
--color-rectangle-2-5: #ffd6ff;
--color-rectangle-2-6: #248ea8;
--color-rectangle-2-6: #48742a;
--color-rectangle-2-6: #ffd166;
--color-rectangle-2-6: #becac1;
--color-rectangle-2-6: #de6854;
--color-rectangle-2-6: #ffd4b8;
--color-rectangle-2-6: #fa4759;
--color-rectangle-2-6: #c18aad;
--color-rectangle-2-6: #29ced6;
--color-rectangle-2-6: #ffb066;
--color-rectangle-2-6: #fdef96;
--color-rectangle-2-6: #ff5724;
--color-rectangle-2-6: #defcf9;
--color-rectangle-2-6: #25d1da;
--color-rectangle-2-6: #efd09f;
--color-rectangle-2-6: #aef4e6;
--color-rectangle-2-6: #cee37d;
--color-rectangle-2-6: #d48735;
--color-rectangle-2-6: #f7bf18;
--color-rectangle-2-6: #a2310b;
--color-rectangle-2-6: #ffcccc;
--color-rectangle-2-6: #e0f0eb;
--color-rectangle-2-6: #ffb805;
--color-rectangle-2-6: #ffff80;
--color-rectangle-2-6: #ff9eae;
--color-rectangle-2-6: #f1d2b6;
--color-rectangle-2-6: #b98b4b;
--color-rectangle-2-6: #a3243b;
--color-rectangle-2-6: #0e6baa;
--color-rectangle-2-6: #194e52;
--color-rectangle-2-6: #ffd561;
--color-rectangle-2-6: #7ed3b2;
--color-rectangle-2-6: #ed264e;
--color-rectangle-2-6: #ffb514;
--color-rectangle-2-6: #4fb5ba;
--color-rectangle-2-6: #784f26;
--color-rectangle-2-6: #ffa424;
--color-rectangle-2-6: #dccaa8;
--color-rectangle-2-6: #f2e9cf;
--color-rectangle-2-6: #f9f5f1;
--color-rectangle-2-6: #0a4b5c;
--color-rectangle-2-6: #faf4d1;
--color-rectangle-2-6: #f9b248;
--color-rectangle-2-6: #913636;
--color-rectangle-2-6: #b96b64;
--color-rectangle-2-6: #5b618b;
--color-rectangle-2-6: #8f2d56;
--color-rectangle-2-6: #d9d9d9;
--color-rectangle-2-6: #ffd60a;
--color-rectangle-2-6: #3fa261;
--color-rectangle-2-6: #ffefe0;
--color-rectangle-2-6: #d7c8a3;
--color-rectangle-2-6: #edd4b1;
--color-rectangle-2-6: #efe6d7;
--color-rectangle-2-6: #ffe1c7;
--color-rectangle-2-6: #cca88e;
--color-rectangle-2-6: #ff8880;
--color-rectangle-2-6: #a4d0ce;
--color-rectangle-2-6: #e5fde2;
--color-rectangle-2-6: #ed7d86;
--color-rectangle-2-6: #faf1cc;
--color-rectangle-2-6: #b91366;
--color-rectangle-2-6: #2a9d90;
--color-rectangle-2-6: #ffe814;
--color-rectangle-2-6: #42292c;
--color-rectangle-2-6: #ff3366;
--color-rectangle-2-6: #fffde0;
--color-rectangle-2-6: #ffa42e;
--color-rectangle-2-6: #85ef48;
--color-rectangle-2-6: #c5ce64;
--color-rectangle-2-6: #f5e4c2;
--color-rectangle-2-6: #6f0627;
--color-rectangle-2-6: #f2f4cd;
--color-rectangle-2-6: #f24607;
--color-rectangle-2-6: #ffeddb;
--color-rectangle-2-6: #d88474;
--color-rectangle-2-6: #fff175;
--color-rectangle-2-6: #fafffe;
--color-rectangle-2-6: #ce5803;
--color-rectangle-2-6: #de3b4b;
--color-rectangle-2-6: #a0a1ba;
--color-rectangle-2-6: #a83e53;
--color-rectangle-2-6: #7a9d9f;
--color-rectangle-2-6: #fffce5;
--color-rectangle-2-6: #fdf5bf;
--color-rectangle-2-7: #52437a;
--color-rectangle-2-7: #9780ff;
--color-rectangle-2-7: #ef486f;
--color-rectangle-2-7: #9298af;
--color-rectangle-2-7: #db5943;
--color-rectangle-2-7: #dbedc0;
--color-rectangle-2-7: #c6f1e7;
--color-rectangle-2-7: #ba7da2;
--color-rectangle-2-7: #393e46;
--color-rectangle-2-7: #f36886;
--color-rectangle-2-7: #ada738;
--color-rectangle-2-7: #00aab2;
--color-rectangle-2-7: #c2bcf0;
--color-rectangle-2-7: #564f7d;
--color-rectangle-2-7: #6bd3ff;
--color-rectangle-2-7: #12d3d0;
--color-rectangle-2-7: #e10543;
--color-rectangle-2-7: #67140e;
--color-rectangle-2-7: #216583;
--color-rectangle-2-7: #fafffe;
--color-rectangle-2-7: #ff7a7a;
--color-rectangle-2-7: #564f7d;
--color-rectangle-2-7: #1b7ebb;
--color-rectangle-2-7: #ada738;
--color-rectangle-2-7: #52437a;
--color-rectangle-2-7: #f18e8f;
--color-rectangle-2-7: #533e2d;
--color-rectangle-2-7: #4b111b;
--color-rectangle-2-7: #001d57;
--color-rectangle-2-7: #de8c95;
--color-rectangle-2-7: #00aab2;
--color-rectangle-2-7: #f07866;
--color-rectangle-2-7: #f5fffd;
--color-rectangle-2-7: #ff5500;
--color-rectangle-2-7: #f1e9eb;
--color-rectangle-2-7: #9bbfac;
--color-rectangle-2-7: #004d30;
--color-rectangle-2-7: #f599a2;
--color-rectangle-2-7: #e79c84;
--color-rectangle-2-7: #9f855b;
--color-rectangle-2-7: #cc3e3e;
--color-rectangle-2-7: #c14444;
--color-rectangle-2-7: #fc3b52;
--color-rectangle-2-7: #bababa;
--color-rectangle-2-7: #3a445a;
--color-rectangle-2-7: #b9e28d;
--color-rectangle-2-7: #73d2de;
--color-rectangle-2-7: #00ffff;
--color-rectangle-2-7: #01c7ef;
--color-rectangle-2-7: #ee6553;
--color-rectangle-2-7: #c4c4c4;
--color-rectangle-2-7: #f4712a;
--color-rectangle-2-7: #4c243d;
--color-rectangle-2-7: #ba6d6d;
--color-rectangle-2-7: #936c81;
--color-rectangle-2-7: #80bcd6;
--color-rectangle-2-7: #4a3649;
--color-rectangle-2-7: #8c2636;
--color-rectangle-2-7: #2a7474;
--color-rectangle-2-7: #d6d5b3;
--color-rectangle-2-7: #ee9649;
--color-rectangle-2-7: #c7dbff;
--color-rectangle-2-7: #e76e50;
--color-rectangle-2-7: #e44984;
--color-rectangle-2-7: #d62483;
--color-rectangle-2-7: #f6f7f8;
--color-rectangle-2-7: #fb376b;
--color-rectangle-2-7: #005994;
--color-rectangle-2-7: #1f7cff;
--color-rectangle-2-7: #f6f6e9;
--color-rectangle-2-7: #ea5353;
--color-rectangle-2-7: #9a1d1f;
--color-rectangle-2-7: #5f6f2f;
--color-rectangle-2-7: #faa614;
--color-rectangle-2-7: #b8b8ff;
--color-rectangle-2-7: #18206d;
--color-rectangle-2-7: #6699cc;
--color-rectangle-2-7: #1b1b1d;
--color-rectangle-2-7: #f7b059;
--color-rectangle-2-7: #2f131e;
--color-rectangle-2-7: #9295d3;
--color-rectangle-2-7: #f2f6ee;
--color-rectangle-2-7: #eef5db;
--color-rectangle-2-7: #eef5db;
--color-rectangle-2-7: #93d2c4;
--color-rectangle-2-8: #010057;
--color-rectangle-2-8: #2c248a;
--color-rectangle-2-8: #881659;
--color-rectangle-2-8: #283043;
--color-rectangle-2-8: #1d1711;
--color-rectangle-2-8: #a8e6cf;
--color-rectangle-2-8: #11c7d4;
--color-rectangle-2-8: #090707;
--color-rectangle-2-8: #212730;
--color-rectangle-2-8: #c95ea6;
--color-rectangle-2-8: #2b5a0c;
--color-rectangle-2-8: #303841;
--color-rectangle-2-8: #cda9ea;
--color-rectangle-2-8: #4e3a64;
--color-rectangle-2-8: #31bbed;
--color-rectangle-2-8: #0d0222;
--color-rectangle-2-8: #83253e;
--color-rectangle-2-8: #3c1518;
--color-rectangle-2-8: #293461;
--color-rectangle-2-8: #001413;
--color-rectangle-2-8: #ff6666;
--color-rectangle-2-8: #4e3a64;
--color-rectangle-2-8: #112f92;
--color-rectangle-2-8: #2b5a0c;
--color-rectangle-2-8: #00004d;
--color-rectangle-2-8: #306073;
--color-rectangle-2-8: #232230;
--color-rectangle-2-8: #090c08;
--color-rectangle-2-8: #00072e;
--color-rectangle-2-8: #552b32;
--color-rectangle-2-8: #0f1a29;
--color-rectangle-2-8: #c45a4a;
--color-rectangle-2-8: #011937;
--color-rectangle-2-8: #d94302;
--color-rectangle-2-8: #ff0544;
--color-rectangle-2-8: #4c215f;
--color-rectangle-2-8: #002d33;
--color-rectangle-2-8: #5c2e35;
--color-rectangle-2-8: #bb5858;
--color-rectangle-2-8: #38470b;
--color-rectangle-2-8: #9b2c2c;
--color-rectangle-2-8: #0d2330;
--color-rectangle-2-8: #0d2330;
--color-rectangle-2-8: #283148;
--color-rectangle-2-8: #2f3141;
--color-rectangle-2-8: #d6d84f;
--color-rectangle-2-8: #119aa2;
--color-rectangle-2-8: #3e58da;
--color-rectangle-2-8: #2275a5;
--color-rectangle-2-8: #2d284d;
--color-rectangle-2-8: #7d7d7d;
--color-rectangle-2-8: #3d3d3d;
--color-rectangle-2-8: #3e1d31;
--color-rectangle-2-8: #a63a50;
--color-rectangle-2-8: #472749;
--color-rectangle-2-8: #2275a5;
--color-rectangle-2-8: #281527;
--color-rectangle-2-8: #080926;
--color-rectangle-2-8: #334739;
--color-rectangle-2-8: #80b781;
--color-rectangle-2-8: #f95939;
--color-rectangle-2-8: #f3f3f1;
--color-rectangle-2-8: #cd8b88;
--color-rectangle-2-8: #bc245e;
--color-rectangle-2-8: #fd3f82;
--color-rectangle-2-8: #20a6f3;
--color-rectangle-2-8: #6f65e7;
--color-rectangle-2-8: #081621;
--color-rectangle-2-8: #0f3a75;
--color-rectangle-2-8: #540d0d;
--color-rectangle-2-8: #6f0627;
--color-rectangle-2-8: #e78618;
--color-rectangle-2-8: #313715;
--color-rectangle-2-8: #570528;
--color-rectangle-2-8: #9380ff;
--color-rectangle-2-8: #313715;
--color-rectangle-2-8: #011628;
--color-rectangle-2-8: #6d686e;
--color-rectangle-2-8: #ffc05c;
--color-rectangle-2-8: #cec2c0;
--color-rectangle-2-8: #000a09;
--color-rectangle-2-8: #8d5f58;
--color-rectangle-2-8: #fe5e52;
--color-rectangle-2-8: #de403b;
--color-rectangle-2-9: #28c1d2;
--color-rectangle-2-9: #ada738;
--color-rectangle-2-9: #39a286;
--color-rectangle-2-9: #edfbc1;
--color-rectangle-2-9: #ffd175;
--color-rectangle-2-9: #faf9f9;
--color-rectangle-2-9: #ff757c;
--color-rectangle-2-9: #f9e7e7;
--color-rectangle-2-9: #ededed;
--color-rectangle-2-9: #ffd88f;
--color-rectangle-2-9: #f36886;
--color-rectangle-2-9: #ff824d;
--color-rectangle-2-9: #00ffe5;
--color-rectangle-2-9: #ff0ad6;
--color-rectangle-2-9: #f4f7bf;
--color-rectangle-2-9: #fcfaed;
--color-rectangle-2-9: #fdf2dd;
--color-rectangle-2-9: #fff94d;
--color-rectangle-2-9: #f9d66c;
--color-rectangle-2-9: #e6af2d;
--color-rectangle-2-9: #530e33;
--color-rectangle-2-9: #f48457;
--color-rectangle-2-9: #ffd724;
--color-rectangle-2-9: #119aa2;
--color-rectangle-2-9: #ffff80;
--color-rectangle-2-9: #ffecd1;
--color-rectangle-2-9: #deca7d;
--color-rectangle-2-9: #f2545c;
--color-rectangle-2-9: #a8e1fa;
--color-rectangle-2-9: #46afb9;
--color-rectangle-2-9: #fdfdfc;
--color-rectangle-2-9: #f3f9d2;
--color-rectangle-2-9: #f9dc5d;
--color-rectangle-2-9: #032535;
--color-rectangle-2-9: #0ce4e0;
--color-rectangle-2-9: #a1784f;
--color-rectangle-2-9: #ffcd57;
--color-rectangle-2-9: #f5e4c2;
--color-rectangle-2-9: #5f5d53;
--color-rectangle-2-9: #0b5f75;
--color-rectangle-2-9: #0b5f75;
--color-rectangle-2-9: #f5e4c2;
--color-rectangle-2-9: #ffdb70;
--color-rectangle-2-9: #b05454;
--color-rectangle-2-9: #d88a83;
--color-rectangle-2-9: #5c517b;
--color-rectangle-2-9: #d9125b;
--color-rectangle-2-9: #0f0f0f;
--color-rectangle-2-9: #f75c02;
--color-rectangle-2-9: #eadeae;
--color-rectangle-2-9: #fafafa;
--color-rectangle-2-9: #f6e7c1;
--color-rectangle-2-9: #f6e7c1;
--color-rectangle-2-9: #ab9b96;
--color-rectangle-2-9: #fff7ad;
--color-rectangle-2-9: #f1f8fe;
--color-rectangle-2-9: #ffffff;
--color-rectangle-2-9: #f3f3f1;
--color-rectangle-2-9: #e55a34;
--color-rectangle-2-9: #fa2983;
--color-rectangle-2-9: #0c3b64;
--color-rectangle-2-9: #080926;
--color-rectangle-2-9: #274754;
--color-rectangle-2-9: #f8b93a;
--color-rectangle-2-9: #2f2d2e;
--color-rectangle-2-9: #011628;
--color-rectangle-2-9: #53eaea;
--color-rectangle-2-9: #f6f6e9;
--color-rectangle-2-9: #fafd4e;
--color-rectangle-2-9: #f3ff94;
--color-rectangle-2-9: #34a7b2;
--color-rectangle-2-9: #ea5353;
--color-rectangle-2-9: #9a1d1f;
--color-rectangle-2-9: #a20702;
--color-rectangle-2-9: #ffd7bd;
--color-rectangle-2-9: #ffd7bd;
--color-rectangle-2-9: #ff8b42;
--color-rectangle-2-9: #960319;
--color-rectangle-2-9: #352918;
--color-rectangle-2-9: #230114;
--color-rectangle-2-9: #fcfaff;
--color-rectangle-2-9: #f2545c;
--color-rectangle-2-9: #b7d7d7;
--color-rectangle-2-9: #b9b42d;
--color-rectangle-2-9: #b47eb3;
}