:root{
	 color: #000000;
	 color: #212121;
	 color: #323232;
	 color: #616161;
	 color: #727272;
	 color: #757575;
	 color: #7e7e7e;
	 color: #9C9C9C;
	 color: #b5b5b5;
	 color: #dadada;
	 color: #dcdcdc;
	 color: #edecec;
	 color: #f0f0f0;
	 color: #f2f2f2;
	 color: #F7F7F7;
	 color: #fefefe;
	 color: #E81A0C;
	 color: #f44336;
	 color: #FAE3E1;
	 color: #E0523F;
	 color: #F76D47;
	 color: #EB6036;
	 color: #FF4400;
	 color: #F65314;
	 color: #A2836E;
	 color: #fd7e14;
	 color: #D9AD7C;
	 color: #F09F35;
	 color: #F5BA45;
	 color: #FCF6E6;
	 color: #FFF2CF;
	 color: #664d03;
	 color: #e6dbb9;
	 color: #ffcd39;
	 color: #ffc720;
	 color: #ffca2c;
	 color: #ffc107;
	 color: #ece1be;
	 color: #f2e7c3;
	 color: #fff3cd;
	 color: #F2E096;
	 color: #F7DA63;
	 color: #FCFBF7;
	 color: #FEDA48;
	 color: #EBE496;
	 color: #E6E4A1;
	 color: #FCFCE6;
	 color: #E6E856;
	 color: #AFB42B;
	 color: #F8FACD;
	 color: #FEFFF5;
	 color: #BDD158;
	 color: #A4C639;
	 color: #ACC963;
	 color: #AFF218;
	 color: #7CBB00;
	 color: #86AF49;
	 color: #98DD62;
	 color: #F9FFF7;
	 color: #E5FCE1;
	 color: #65AD5A;
	 color: #FAFFFC;
	 color: #c1d6cc;
	 color: #0f5132;
	 color: #13653f;
	 color: #146c43;
	 color: #157347;
	 color: #198754;
	 color: #039C55;
	 color: #bcd0c7;
	 color: #c7dbd2;
	 color: #d1e7dd;
	 color: #20c997;
	 color: #469186;
	 color: #3E9487;
	 color: #33A8A1;
	 color: #CFFAF8;
	 color: #636464;
	 color: #E6FCFC;
	 color: #F7FFFF;
	 color: #87DBDD;
	 color: #78F8FA;
	 color: #70FDFF;
	 color: #0097A7;
	 color: #055160;
	 color: #badce3;
	 color: #bfe2e9;
	 color: #c5e8ef;
	 color: #0dcaf0;
	 color: #3dd5f3;
	 color: #25cff2;
	 color: #31d2f2;
	 color: #53B8CF;
	 color: #cff4fc;
	 color: #00A1F1;
	 color: #B7D7E8;
	 color: #91CBEB;
	 color: #647A87;
	 color: #657782;
	 color: #374046;
	 color: #363f45;
	 color: #66757F;
	 color: #CCD6DD;
	 color: #9DC6E3;
	 color: #E1E8ED;
	 color: #DAEBF7;
	 color: #1a1e21;
	 color: #373b3e;
	 color: #424649;
	 color: #3f474d;
	 color: #3e464c;
	 color: #4d5154;
	 color: #565e64;
	 color: #55ACEE;
	 color: #64b5f6;
	 color: #51585e;
	 color: #6c757d;
	 color: #5BA6EB;
	 color: #212529;
	 color: #2c3034;
	 color: #343a40;
	 color: #41464b;
	 color: #495057;
	 color: #5c636a;
	 color: #babbbc;
	 color: #adb5bd;
	 color: #c6c7c8;
	 color: #d3d4d5;
	 color: #ced4da;
	 color: #dfe0e1;
	 color: #dee2e6;
	 color: #e5e6e7;
	 color: #ecedee;
	 color: #e9ecef;
	 color: #f9fafb;
	 color: #f8f9fa;
	 color: #4895E8;
	 color: #d4dce6;
	 color: #1e2125;
	 color: #323539;
	 color: #2C81FB;
	 color: #141619;
	 color: #636B77;
	 color: #084298;
	 color: #0a53be;
	 color: #0a58ca;
	 color: #0b5ed7;
	 color: #0c63e4;
	 color: #bfd1ec;
	 color: #c5d7f2;
	 color: #F5F7FA;
	 color: #0d6efd;
	 color: #86b7fe;
	 color: #cfe2ff;
	 color: #8D9DB6;
	 color: #bacbe6;
	 color: #4285F4;
	 color: #4285f4;
	 color: #36486B;
	 color: #003399;
	 color: #234ca1;
	 color: #cbccce;
	 color: #d1d2d4;
	 color: #d7d8da;
	 color: #e2e3e5;
	 color: #3B5998;
	 color: #2856b6;
	 color: #8B9DC3;
	 color: #667292;
	 color: #DFE3EE;
	 color: #4254AD;
	 color: #3f51b5;
	 color: #d3d3d4;
	 color: #B0A6E5;
	 color: #4e2ecc;
	 color: #5D40AD;
	 color: #7C4DFF;
	 color: #702BFE;
	 color: #6f42c1;
	 color: #D1C4E9;
	 color: #6610f2;
	 color: #B8A9C9;
	 color: #9133AB;
	 color: #E1BEE7;
	 color: #FFFAFF;
	 color: #FFB3DA;
	 color: #d63384;
	 color: #F9D5E5;
	 color: #FFFAFC;
	 color: #F4AFCA;
	 color: #d81558;
	 color: #e91e63;
	 color: #563F46;
	 color: #DE3C6A;
	 color: #D63A61;
	 color: #EDB9C6;
	 color: #a52834;
	 color: #b02a37;
	 color: #bb2d3b;
	 color: #dc3545;
	 color: #e5c7ca;
	 color: #eccccf;
	 color: #842029;
	 color: #F7E1E3;
	 color: #f8d7da;
	 color: #dfc2c4;
}
