
@font-face {
    font-family: 'Arial Unicode MS';
    src: local('Arial Unicode MS'),
        url('https://github.com/WynterAC/Digital-Resources/blob/8aadc982ec2365535f09ae015a69db23ac69aa41/_Font%20Library%20/Font%20Files%20/Monospace/Arial%20Unicode.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}