@font-face {
    font-family: "Shree Devanagari 714";
    font-style: normal;
	font-weight: normal;
    src: url("https://db.onlinewebfonts.com/t/d02befc8fdd8e5315fb21fa7f38fd55a.eot");
    src: url("https://db.onlinewebfonts.com/t/d02befc8fdd8e5315fb21fa7f38fd55a.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d02befc8fdd8e5315fb21fa7f38fd55a.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/d02befc8fdd8e5315fb21fa7f38fd55a.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/d02befc8fdd8e5315fb21fa7f38fd55a.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/d02befc8fdd8e5315fb21fa7f38fd55a.svg#Shree Devanagari 714")format("svg");
}
