/*
      www.OnlineWebFonts.Com 
      You must credit the author Copy this link on your web 
      <div>Font made from <a href="http://www.onlinewebfonts.com/fonts">Web Fonts</a>is licensed by CC BY 4.0</div>
      OR
      <a href="http://www.onlinewebfonts.com/fonts">Web Fonts</a>

      CSS rules to specify fonts

      font-family: "SF Pro Display";
     

*/

@font-face{
    font-family: "SF Pro Display";
    src: url("https://db.onlinewebfonts.com/t/2fed949d780f40eb2e2f4374e4de8df5.eot");
    src: url("https://db.onlinewebfonts.com/t/2fed949d780f40eb2e2f4374e4de8df5.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/2fed949d780f40eb2e2f4374e4de8df5.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/2fed949d780f40eb2e2f4374e4de8df5.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/2fed949d780f40eb2e2f4374e4de8df5.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/2fed949d780f40eb2e2f4374e4de8df5.svg#SF Pro Display Thin")format("svg");
    font-weight:200;
    font-style:normal;
    font-display:swap;
}

@font-face{
    font-family: "SF Pro Display";
    src: url("https://db.onlinewebfonts.com/t/70c38766a71f8f7f0a477605da15fcd3.eot");
    src: url("https://db.onlinewebfonts.com/t/70c38766a71f8f7f0a477605da15fcd3.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/70c38766a71f8f7f0a477605da15fcd3.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/70c38766a71f8f7f0a477605da15fcd3.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/70c38766a71f8f7f0a477605da15fcd3.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/70c38766a71f8f7f0a477605da15fcd3.svg#SF Pro Display Light")format("svg");
    font-weight:300;
    font-style:normal;
    font-display:swap;
}

@font-face{
    font-family: "SF Pro Display";
    src: url("https://db.onlinewebfonts.com/t/64a2cfb57c4a5df1013e4f2e5bf3eff3.eot");
    src: url("https://db.onlinewebfonts.com/t/64a2cfb57c4a5df1013e4f2e5bf3eff3.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/64a2cfb57c4a5df1013e4f2e5bf3eff3.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/64a2cfb57c4a5df1013e4f2e5bf3eff3.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/64a2cfb57c4a5df1013e4f2e5bf3eff3.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/64a2cfb57c4a5df1013e4f2e5bf3eff3.svg#SF Pro Display Medium")format("svg");
    font-weight:500;
    font-style:normal;
    font-display:swap;
}

@font-face{
    font-family: "SF Pro Display Italic";
    src: url("https://db.onlinewebfonts.com/t/ac63c9ea906555cee94b2ce320886359.eot");
    src: url("https://db.onlinewebfonts.com/t/ac63c9ea906555cee94b2ce320886359.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/ac63c9ea906555cee94b2ce320886359.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/ac63c9ea906555cee94b2ce320886359.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/ac63c9ea906555cee94b2ce320886359.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/ac63c9ea906555cee94b2ce320886359.svg#SF Pro Display Italic")format("svg");
    font-weight:400;
    font-style:italic;
    font-display:swap;
}

@font-face{
    font-family: "SF Pro Display";
    src: url("https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.eot");
    src: url("https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.svg#SF Pro Display Regular")format("svg");
    font-weight:400;
    font-style:normal;
    font-display:swap;
}

@font-face{
    font-family: "SF Pro Display";
    src: url("https://db.onlinewebfonts.com/t/104c3eabbcf5963b2c26fdd366697e7c.eot");
    src: url("https://db.onlinewebfonts.com/t/104c3eabbcf5963b2c26fdd366697e7c.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/104c3eabbcf5963b2c26fdd366697e7c.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/104c3eabbcf5963b2c26fdd366697e7c.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/104c3eabbcf5963b2c26fdd366697e7c.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/104c3eabbcf5963b2c26fdd366697e7c.svg#SF Pro Display Ultralight")format("svg");
    font-weight:100;
    font-style:normal;
    font-display:swap;
}

@font-face{
    font-family: "SF Pro Display";
    src: url("https://db.onlinewebfonts.com/t/97a3fae31026a498ed4d353566e997af.eot");
    src: url("https://db.onlinewebfonts.com/t/97a3fae31026a498ed4d353566e997af.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/97a3fae31026a498ed4d353566e997af.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/97a3fae31026a498ed4d353566e997af.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/97a3fae31026a498ed4d353566e997af.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/97a3fae31026a498ed4d353566e997af.svg#SF Pro Display Thin Italic")format("svg");
    font-weight:200;
    font-style:italic;
    font-display:swap;
}

@font-face{
    font-family: "SF Pro Display";
    src: url("https://db.onlinewebfonts.com/t/21c6c3b9066d628cb30393026ee5d547.eot");
    src: url("https://db.onlinewebfonts.com/t/21c6c3b9066d628cb30393026ee5d547.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/21c6c3b9066d628cb30393026ee5d547.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/21c6c3b9066d628cb30393026ee5d547.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/21c6c3b9066d628cb30393026ee5d547.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/21c6c3b9066d628cb30393026ee5d547.svg#SF Pro Display Light Italic")format("svg");
    font-weight:300;
    font-style:italic;
    font-display:swap;
}

@font-face{
    font-family: "SF Pro Display";
    src: url("https://db.onlinewebfonts.com/t/4d5b5a53d36f19471c9062bcc90e4470.eot");
    src: url("https://db.onlinewebfonts.com/t/4d5b5a53d36f19471c9062bcc90e4470.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/4d5b5a53d36f19471c9062bcc90e4470.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/4d5b5a53d36f19471c9062bcc90e4470.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/4d5b5a53d36f19471c9062bcc90e4470.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/4d5b5a53d36f19471c9062bcc90e4470.svg#SF Pro Display Ultralight Italic")format("svg");
    font-weight:100;
    font-style:italic;
    font-display:swap;
}
 
