html
<link href="https://db.onlinewebfonts.com/a/EoP9523Azg5NI1FRJYkKA2AVloXfIRZNUL1JZ2Zz2UtSa2bm" rel="stylesheet" type="text/css"/>
CSS rules to specify fonts
font-family: "SF Pro Display Thin";
font-family: "SF Pro Display Ultralight";
font-family: "SF Pro Display Light";
font-family: "SF Pro Display Medium";
font-family: "SF Pro Display Regular";
font-family: "SF Pro Display Semibold";
