<link rel="stylesheet" type="text/css" media="all" href="URL" />

font-style: normal;
    font-display: swap;


And the <em> and <strong> elements are styled to use the correct corresponding font-family names:
em { font-family: 'UbuntuRegularItalic', arial, sans-serif; font-weight: normal; font-style: normal; } 

strong { font-family: 'UbuntuBold', arial, sans-serif; font-weight: normal; font-style: normal; }
